{% extends 'base.html' %}
{% block content %}
<center><h1>Contact Details</h1></center>
<div class="card text-bg-light mb-3" style="max-width: 40rem;">
    <div class="card-body">
      <h5 class="card-title">Name:</h5><p class="card-text">{{customer_record.first_name}}</p>
      <h5 class="card-title">Email:</h5><p class="card-text">{{customer_record.email}}</p>
      <h5 class="card-title">Created On:</h5><p class="card-text">{{customer_record.created_at}}</p>
      <h5 class="card-title">Notes</h5><p class="card-text">{{customer_record.notes}}</p>
      
      
    </div>
  </div>
  <a href="{% url 'home'%}" class="btn btn-secondary" style="background-color: aqua; color: black;">Home</a>
  <a href="{% url 'update_record' customer_record.id %}" class="btn btn-secondary" style="background-color: yellow; color: black;">Edit</a>
  <a href="{%url 'delete' customer_record.id %}" class="btn btn-danger">Delete</a>


{% endblock %}

